<div class="container">
  <div class="container my-5">
  <div class="row justify-content-center">
    <div class="">
      <!-- Welcoming Card -->
      <div class="card shadow-md bg-white rounded">
        <div class="card-body text-center">
          <h1 class="display-4 text-primary mb-3">Task Management System</h1>
          <br>
          <h4 class="">Here is the github repository <a href="https://github.com/Naglis-M/TaskManagementSystem" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Link</a></h4>
          <br>
        </div>
      </div>     
    </div>
  </div>
  </div>
</div>